style.css
Người có quyền truy cập

Thuộc tính hệ thống
Loại
Biểu định kiểu
Kích thước
 KB
Bộ nhớ đã sử dụng
6 KB
Vị trí
project-pc-parts-selling-website
Chủ sở hữu
Yuri Shall conquer the world
Lần sửa đổi gần đây nhất
20 thg 11, 2021 do Yuri Shall conquer the world thực hiện
Đã mở
12:33 do tôi thực hiện
Người tạo
20 thg 11, 2021
Thêm mô tả
Người xem có thể tải xuống
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Inconsolata&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap');
* {
  
  margin:0;
  padding:0;
  box-sizing:border-box;
  background:var(--primary-color);
}
.site-title a{
  text-decoration: none;
  color:white;
}
.site-title a:hover{
  color:white;
}
.category{
  display:inline-block;
}
.link {
    cursor: pointer;
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
  }
  .dropdown {
    display: inline-block;
    position: relative;
    margin-left:50px;
  }
  .dropdown-content {
    position: absolute;
    background-color: white; 
    opacity: 0;
    left:0;
    top: calc(100% + .25rem);
    text-align:justify;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: .75rem;
  }
  .dropdown-content a{
    text-decoration: none;
    margin-bottom: 5px;
    font-size: large;
  }

  .fa-bars{
    background-color: inherit;
  }
.dropdown-content a:hover{
  color:black;
}
.category .dropdown:hover .dropdown-content{
  width: 175px;
}
.dropdown:hover .dropdown-content {display: grid; 
  margin-left: 10px;
  width: auto;
 opacity: 1;
 z-index:10;
}
.dropdown:hover .link { color:black;
transition: color 0.3s;}
#main-header
{
  justify-content: center;
  display: inline-block;
  width: 100%;
  height:auto;
  font-family: monospace;
  background-color: rgb(125, 125, 125);
}
.logo{
  float: left;
  margin: 0  10px 0 10px;
  color:white;
}
.I-logo{
  font-family: 'Source Code Pro', monospace;
  font-size: larger;
  color:black;
}
.search-box{
  display: inline-block;
  
}
.searchbar{
  width: 500px;
  border-radius: 5px;
  height:40px;
  justify-content: center;
  background-color: white;
}
.search-btn{
  border-style: none;
  font-size: 20px;
  padding:5px;
}
#cart{
  margin-left: 50px;
  text-decoration: none; 
}
#detail{
  text-decoration: none;
  color:white;
  font-size: larger;
  font-weight: bold;
  margin-left: 50px;
}
.login-form > input{
  margin-bottom: .5rem;
}
#register{
  float:right;
  margin-top: 0;
}

.container-fluid{
  margin: 0 15px 0 15px;
  justify-content: center;
}
.img-fluid{
  width: 100%;
  height:80%;
  align-items: center;
}
.site-slider{
  position: relative;
}
.position-top{
  position:absolute;
  top:45%;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
  background-color: dimgray;
  padding: 1rem 1.4rem;
  color: white;
  border-radius: 10rem;
  margin: 0 1rem;
  opacity: 0 ;
  transition: opacity 1s ease;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
  opacity: 1;
}
.right-0{
  right: 0;
}

.slick-dots{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 47%;
}
.slick-dots li{
  margin: 0 10px .6rem;
  
}
.slick-dots button{
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  padding:0;
  border:none;
  background-color: white;
  text-indent: -99999px;
  border-radius: 100%;
}
.slick-dots li.slick-active button{
  transform: scale(1.5);
  box-shadow: 0 3px 5px 1px black;
}
.card-img-top{
  height: 15rem;
  margin-top: 4px;
}
.second-header{
  text-align: left;
  margin: 10px 0 0 20px; 
  
}
 .banner-two{
   margin:0;
 }
.site-slider-two .product{
  
  margin: 0 20px;
}
.product-price{
  font-family: 'barlow',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
main{
  background-color: #ccc;
}
.rating-color {
  color: #fbc634 !important
}
.small-ratings i {
  color: #cecece;
}
.card:hover {
  transform: scale(1.05);
}
.card {
  transition: transform 0.2s ease;
}
.product-header{
  margin: 0 7px 0 0;
  padding: 5px 30px 0 10px;
  display: inline-flex;
  color:red;
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  width: 99.5%;
  align-items: center;
}
.product-header h2{
  width:66.66666%;
}
.product-header .right-nav{
  float: left;
    text-align:right;
    width:33.33333%;
  text-decoration: none;
  font-size: large;
  color: white;
}


footer{  
  background-color: #24262b;
  padding:70px 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;;
}
.footer-container{
  max-width:1170px;
  margin:auto;  
}
ul {
  list-style: none;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color:#ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-left: 30px;
  position: relative;
  font-weight: 500;
}
.footer-col h4::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.2s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 10px;
    font-weight: 400;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align:center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.copy-right{
  margin-top: 20px;
  color: #ffffff;
  font-size: 13px;
  opacity: 0.8;
}